@charset "utf-8";

* {
    margin: ;
    padding: ;
}

html, body {}

div.conteiner {
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap;*/
    flex-flow: row wrap;/*<=*/
    justify-content: space-around;
    align-items: stretch;
    background-color: gray;
    border: 1px solid black;
    height: 200px;
    
}

div.item {
    
    background-color: yellow;
    border: 1px solid black;
    text-align: center;
    
}