@charset "UTF-8";

body {
    background-color: #deb887;
    color: #390606;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    font-family: serif;
    /* Para meclar as tags de font, utiliza-se a técnica "shorthand font" =>
    ( font: italic bold 20px serif; ) que tem o mesmo resultado que as tags acima */    
}
div:hover {
    color: #ffffff;
}
h1 {
    background-color: #390606;
    color: #ffffff;
    text-decoration: underline;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9b805d;
}
h2 {
    background-color: #390606;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9b805d;
}
h3 {
    background-color: #390606;
    color: #ffffff;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #9b805d;
}
.especial {
    color: #390606;
    text-decoration: none;
}
a:hover {
    color: #ffffff;
}
a {
    color: #390606;
}
.borda {
    border-radius: 20px;
}

div {
    display: inline-flex;
    background-color: #d1ccbf;
    height: 300px;
    width: 220px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px;
    margin: 20px;
    padding: 10px;

}