@charset "utf-8";

* {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(255, 94, 0);
    width: 100vw;
    height: 100vh;
}

main {
    width: 100vw;
    height: 100vh;
    position: relative;
}

section#login {
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#login > div#imagem {
    background-color: rgb(255, 94, 0);
    background-image: url(../imagens/img1.jpg);
}